.vscode/
.DS_Store
package-lock.json
node_modules/
dist/
build/
.env
.env.local
.env.development
.env.production
.firebase/
.idea/
*.log
*.tmp
*.swp
*.bak
*.orig
*.patch
*.rej
*.sublime-project
*.sublime-workspace
*.code-workspace
.env